.order-summary {
  background: #fff;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;

  &__title {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0em 0.8em;
      border: 1px solid #d0d3d9;
      border-radius: 4px;
      cursor: pointer;

      p {
        margin-left: 0.5em;
      }
    }
  }

  &__chart {
    display: flex;
    justify-content: center;
    margin: 1.5em 0;

    img {
      width: 100%;
      max-width: 400px;
      height: 200px;
    }
  }

  &__legend {
    display: flex;
    justify-content: center;
    gap: 16px;

    &-item {
      display: flex;
      align-items: center;
    }

    &-color {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      margin-right: 0.5em;
    }
  }
}
